#info {
  align-items: center;
  background: rgba($dark, .5);
  display: none;
  height: 100%;
  justify-content: center;
  opacity: 0;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;

  @media print {
    align-items: flex-start;
    background: none;
    height: auto;
    justify-content: flex-start;
    order: -1;
    padding: 0;
    position: initial;
    width: auto;
  }

  > div {
    background: $light;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    min-width: 50vw;
    padding: 1rem;

    @media screen and (min-width: 64rem) {
      max-width: 60rem;
    }

    > div {
      &:nth-child(1) {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 0 0 .5rem;

        h1 {
          font-size: 2.5rem;
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        button {
          background: none;
          border: none;
          cursor: pointer;
          height: 1.75rem;
          margin: .25rem;
          padding: .25rem;
          position: relative;
          width: 1.75rem;

          @media print {
            display: none;
          }

          &::before,
          &::after {
            background: $secondary;
            border-radius: .125rem;
            content: "";
            display: block;
            height: 100%;
            left: 50%;
            position: absolute;
            top: 50%;
            transform-origin: center;
            transition: background $transition;
            width: .25rem;
          }

          &::before {
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }

          &:hover,
          &:focus {
            &::before,
            &::after {
              background: $select;
            }
          }
        }
      }

      &:nth-child(2) {
        flex: 1 1 auto;
        overflow: auto;
      }
    }
  }

  a {
    @media print {
      &[href^="#"] {
        color: inherit;
        text-decoration: none;
      }

      &:not([href^="#"]) {
        &::after {
          content: " (" attr(href) ")";
        }
      }
    }
  }
}
