> svg {
  background: $tertiary;
  cursor: move;
  flex-grow: 1;
  height: 100%;
  width: 100%;

  [id$=" [outline]"] {
    cursor: pointer;

    &,
    rect,
    path,
    circle {
      transition: stroke $transition, fill $transition;
    }

    // Some layers are in a lighten mode to ensure Figma preserved them in the export
    [style*="mix-blend-mode:lighten"],
    [style*="mix-blend-mode: lighten"] {
      fill: transparent;
      mix-blend-mode: revert !important;
      stroke: transparent;

      // Reset the fill and stroke, but not inside masks
      >,
      :not(mask) {
        rect,
        path,
        circle {
          fill: transparent;
          stroke: transparent;
        }
      }
    }

    // Labels will also indicate they're hoverable
    [id^="Label"] {
      circle {
        transition: stroke $transition;
      }

      path {
        transition: fill $transition;
      }
    }

    &:hover,
    &:focus,
    &.active {
      outline: none;

      &,
      rect,
      circle {
        &[fill] {
          fill: $select-fill;
        }

        &[stroke] {
          stroke: $select;
        }
      }

      path {
        &[fill] {
          // Paths that have a mask + fill are actually stroke outlines
          &[mask] {
            fill: $select;
          }

          // Those without a mask are just fills
          &:not([mask]) {
            fill: $select-fill;
          }
        }

        &[stroke] {
          stroke: $select;
        }
      }

      // Labels need specific styling for their text
      [id^="Label"] {
        circle {
          fill: $select-label-fill !important;
          stroke: $select-label !important;
        }

        path {
          fill: $select-label !important;
        }
      }
    }
  }
}

.fullscreen {
  -webkit-appearance: button;
  background: rgba($dark, .75);
  border: 0;
  border-radius: .5em;
  bottom: 1em;
  cursor: pointer;
  margin: 0;
  position: absolute;
  right: 1em;
  transition: padding .2s ease-in-out;

  &.active,
  &:not(.active):hover,
  &:not(.active):focus, {
    padding: .375em;

    svg {
      height: 2em;
      width: 2em;
    }
  }

  &:not(.active),
  &.active:hover,
  &.active:focus {
    padding: .5em;

    svg {
      height: 1.75em;
      width: 1.75em;
    }
  }

  svg {
    display: block;
    stroke: $light;
    transition: width .2s ease-in-out, height .2s ease-in-out;
  }
}
