> svg {
  cursor: move;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  background: $tertiary;

  [id$=" [outline]"] {
    cursor: pointer;

    &,
    > rect,
    > path {
      transition: stroke $transition, fill $transition;
    }

    // Some layers are in a lighten mode to ensure Figma preserved them in the export
    &[style*="mix-blend-mode:lighten"],
    &[style*="mix-blend-mode: lighten"] {
      mix-blend-mode: revert !important;

      &,
      > rect,
      > path {
        fill: transparent;
        stroke: transparent;
      }
    }

    &:hover,
    &:focus,
    &.active {
      outline: none;

      &,
      > rect {
        &[fill] {
          fill: $select-fill;
        }

        &[stroke] {
          stroke: $select;
        }
      }

      > path {
        &[fill] {
          // Paths that have a mask + fill are actually stroke outlines
          &[mask] {
            fill: $select;
          }

          // Those without a mask are just fills
          &:not([mask]) {
            fill: $select-fill;
          }
        }

        &[stroke] {
          stroke: $select;
        }
      }

      ~ * {
        &[id^="Label"] {
          circle {
            stroke: $select-label;
          }

          path {
            fill: $select-label;
          }
        }

        &:not([id^="Label"]) {
          opacity: 0.1;
        }
      }
    }

    // Ensure everything above the outline does not steal pointer events (e.g. labels)
    ~ * {
      pointer-events: none;

      // Labels will also indicate they're hoverable
      &[id^="Label"] {
        circle {
          transition: stroke $transition;
        }

        path {
          transition: fill $transition;
        }
      }

      // Fade out anything above that isn't the label for the outline
      &:not([id^="Label"]) {
        transition: opacity $transition;
      }
    }
  }
}

.fullscreen {
  position: absolute;
  bottom: 1em;
  right: 1em;
  margin: 0;
  border: 0;
  border-radius: .5em;
  background: rgba($dark, .75);
  cursor: pointer;
  -webkit-appearance: button;
  transition: padding 0.2s ease-in-out;

  &.active,
  &:not(.active):hover,
  &:not(.active):focus, {
    padding: .375em;

    svg {
      width: 2em;
      height: 2em;
    }
  }

  &:not(.active),
  &.active:hover,
  &.active:focus {
    padding: .5em;

    svg {
      width: 1.75em;
      height: 1.75em;
    }
  }

  svg {
    display: block;
    stroke: $light;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  }
}
