@use "sass:color";

$dark: #2d2d2d;
$light: #fff4ec;
$secondary: #636a60;
$tertiary: #a6b2a0;
$select: #00b4ff;
$select-fill: color.mix($select, #fff, $weight: 10%);
$select-label: color.mix($select, #000, $weight: 60%);
$select-label-fill: color.mix($select, #fff, $weight: 2.5%);
$transition: .2s ease-in-out;

* {
  box-sizing: border-box;
}

html,
body {
  background: $light;
  color: $secondary;
  font-family: "PT Sans", sans-serif;
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  header {
    background: $secondary;
    color: $light;
  }

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    position: relative;

    @media print {
      overflow: initial;
    }

    @import "svg";
    @import "info";
  }

  @import "footer";
}
